body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0; 
}

.container-principal {
    max-width: 900px;
    margin: 0 auto;
    background-color: lightcyan;
    border: 25px solid lightseagreen;
    padding: 0;
    overflow: hidden; 
    border-radius: 8px;
}

header {
    background-color:lightseagreen;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: black;
    font-size: 2.5em; 
    margin: 0;
}

.corpo-principal {
    display: flex; 
}

nav {
    width: 200px;
    background-color: #a5ced3; 
    padding: 20px;
    height: 100%;
    border-radius: 8px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none; 
    color: #000000;
    display: block; 
    padding: 10px 0;
    font-size: 1.1em;
}

.link-sair {
    margin-top: 100px;
}

main {
    flex-grow: 1;
    padding: 20px 40px;
}

main h2 {
    font-size: 1.8em;
    font-weight: normal;
    margin-top: 0;
}


.form-grupo {
    margin-bottom: 15px; 
}

label, .label-checkbox {
    display: block; 
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

.checkbox-grupo label {
    display: inline-block;
    margin-right: 15px;
}

.btn-enviar {
    background-color: #d3d3d3;
    color: #000000;
    padding: 10px 20px;
    border: 1px solid #a9a9a9;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
}

.input-arquivo {
    margin-top: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f0f0f0;
}

.rodape-conteudo {
    display: flex;
    justify-content: space-between; 
    margin-top: 50px;
}

.caixa-info {
    background-color: rgb(184, 201, 201);
    color: black;
    margin: 50px;
    padding: 20px;
    text-align: center;
    width: 48%; 
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    border-radius: 8px;
}